@use "./variables" as *;

:root[data-theme='light'] {
    --page-background: linear-gradient(180deg, #FBFDFF 0%, #E7F0FB 100%);
    --bg: var(--background-color-primary);
    --text-color-primary: #080808;
    --text-color: var(--text-color-primary);
    --text-color-secondary: #404040;
    --text-color-3: #dddddd;
    --background-color-primary: #F6F6F6;
    --background-color: var(--background-color-primary);
    --background-color-secondary: #FFFFFF;
    --background-color-3: #e8f0f4;
    --background-accent-color: #57baec;
    --color-gray: #666;
    --element-bg: rgb(0, 0, 0, 0.1);
    --accent-color-primary: #0070BB;
    --accent-color-primary-text: #ffffff;
    --accent-color-primary-transparent-01: rgba(0, 112, 187, 0.1);
    --accent-color-primary-darker: #005288;
    --accent-color: var(--accent-color-primary);
    --accent-color-secondary: #91F5AD;
    --accent-color-secondary-theme: #55c374;
    --accent-color-secondary-theme-text: #ffffff;
    --accent-color-secondary-transparent-01: rgba(145, 245, 173, 0.1);
    --accent-color-secondary-transparent-03: rgba(145, 245, 173, 0.3);
    --accent-color-secondary-transparent-06: rgba(145, 245, 173, 0.6);
    --accent-color-secondary-darker: #44b684;
    --accent-color-additional-1: #6DD4B1;
    --accent-color-additional-2: #49B3B4;
    --accent-color-additional-3: #2592B8;
    --color-warning: #ffcc00;
    --color-error: #ff4444;
    --color-success: #00cc66;
    --footer-tda-logo: url("../../public/icons/Think-different-Academy_LOGO_oficialni-cerne.svg");
    --footer-divider: url("../../public/images/wave_light.svg");
    --divider1: url("../../public/images/wave2_light.svg");
    --divider2: url("../../public/images/wave2_light_2.svg");
    --scrollbar-color: #b7b7b7;
    --tda-logo-small: url("../../public/icons/Think-different-Academy_LOGO_cerny.svg");
    --theme-icon: url("../../public/icons/moon.svg");
    --gameboard-cell-notmyturn-bg: #f0f0f0;
    --button-bg: #e8e8e8;
    --button-outline-color: #dadada;
    --button-bg-hover: #d2d2d2;
    --input-background-color: #fff;
    --input-border-color: #cccccc;
    --input-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    --modal-blur-color: rgba(0, 0, 0, 0.5);
    --close-icon: url("../../public/icons/Close_Dark.svg");
}

:root[data-theme='dark'] {
    --page-background: linear-gradient(180deg, #1a1a1a 0%, #090b0d 100%);
    --bg: black;
    --text-color-primary: #FFFFFF;
    --text-color: var(--text-color-primary);
    --text-color-secondary: #F6F6F6;
    --background-color-primary: #080808;
    --background-color: var(--background-color-primary);
    --background-color-secondary: #111111;
    --background-color-3: #0b0b0b;
    --color-gray: #666;
    --element-bg: rgb(255,255,255, 0.1);
    --accent-color-primary: #0070bb;
    --accent-color-primary-text: #ffffff;
    --accent-color-primary-transparent-01: rgba(0, 112, 187, 0.1);
    --accent-color-primary-darker: #005288;
    --accent-color: var(--accent-color-primary);
    --accent-color-secondary: #91F5AD;
    --accent-color-secondary-theme: #91F5AD;
    --accent-color-secondary-theme-text: #080808;
    --accent-color-secondary-transparent-01: rgba(145, 245, 173, 0.1);
    --accent-color-secondary-transparent-03: rgba(145, 245, 173, 0.3);
    --accent-color-secondary-darker: #3f936e;
    --accent-color-additional-1: #6DD4B1;
    --accent-color-additional-2: #49B3B4;
    --accent-color-additional-3: #2592B8;
    --color-warning: #ffcc00;
    --color-error: #ff4444;
    --color-success: #00cc66;
    --footer-tda-logo: url("../../public/icons/Think-different-Academy_LOGO_oficialni-bile.svg");
    --footer-divider: url("../../public/images/wave_dark.svg");
    --divider1: url("../../public/images/wave2_dark.svg");
    --divider2: url("../../public/images/wave2_dark_2.svg");
    --scrollbar-color: #2d2d2d;
    --tda-logo-small: url("../../public/icons/Think-different-Academy_LOGO_bily.svg");
    --theme-icon: url("../../public/icons/sun.svg");
    --gameboard-cell-notmyturn-bg: #101010;
    --button-bg: #191919;
    --button-bg-hover: #212121;
    --button-outline-color: #2d2d2d;
    --modal-blur-color: rgba(0, 0, 0, 0.75);
    --close-icon: url("../../public/icons/Close_Light.svg");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

[v-cloak] {
    display: none !important;
}

* {
    font-synthesis: none !important;
}

.mobile-show-flex {
    display: none !important;
}

.mobile-hide-flex {
    display: flex !important;
}

.mobile-show-grid {
    display: none !important;
}

.mobile-hide-grid {
    display: grid !important;
}

.text-gradient{
    background: linear-gradient(90deg, var(--accent-color-primary) 0%, var(--accent-color-secondary-theme) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

:root:is(.showlines) {
    * {
        outline: 1px solid orange;
    }
}

input,
textarea,
button,
select,
div,
a {
    -webkit-tap-highlight-color: transparent;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}





html {
    font-size: 16px;
    color: var(--text-color);
    background: var(--page-background);
    margin: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

.animation-fadeout-03 {
    animation: fadeout 0.3s forwards ease-in-out !important;
    animation-iteration-count: 1 !important;
    opacity: 0;
    display: none;

}
@keyframes fadeout {
    from { opacity: 1; display: unset; }
    to { opacity: 0; display: none; }
}

@keyframes dfksdopfdspkfopdsfk {
    from { opacity: 0 }
    to { opacity: 1 }
}


* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin:0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color-secondary-theme);
    transition-duration: 0.3s;
    border-radius: 100px;
}

::selection {
    background-color: var(--accent-color-secondary);
    color: black;
    text-shadow: none;
}

@font-face {
    font-family: 'Dosis';
    src: url("../../public/fonts/dosis.ttf")  format('truetype');
    font-display: swap;
}


.grecaptcha-badge {
    display: none !important;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Dosis, sans-serif;
    font-size: 32px;
}

p,a,button,input,textarea,select,label, li{
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

button,input,textarea,select {
    transition-duration: 0.3s;
}

.liquid-glass {
    box-shadow: inset 0 0 48px rgb(from var(--background-color-secondary) r g b / 0.5), 0 4px 24px rgba(0, 0, 0, 0.1);
    background-color: rgb(from var(--background-color-secondary) r g b / 0.5);
    border: 1px solid rgb(from var(--background-color-secondary) r g b / 1);
    backdrop-filter: blur(8px) saturate(1.6);
}

.error-text {
    color: #FF4C4C;
    font-weight: 600;
}


@media screen and (min-width: 600px) and (max-width: 960px) {
    .sections > section:is(.top) > .texts > h1 {
        font-size: 86px;
    }

    .sections > section:is(.top) > .texts > p {
        font-size: 24px;
    }
}

@media screen and (max-width: 735px) {
    .mobile-show-flex {
        display: flex !important;
    }

    .mobile-hide-flex {
        display: none !important;
    }

    .mobile-show-grid {
        display: grid !important;
    }

    .mobile-hide-grid {
        display: none !important;
    }

    .sections > section:is(.top) > .texts > h1 {
        font-size: 64px;
    }

    .sections > section:is(.top) > .texts > p {
        font-size: 18px;
    }

    .sections > section:not(.top) {
        width: 90%;
    }

    .sections > section:is(.top)::after {
        height: 6vh;
        bottom: -1px;
    }
}
